body {
  background-color: #f2f2f2;
  font-family: Tahoma, Geneva, sans-serif;
  font-weight: 300;
  color: #555;
  background-size: cover;
  margin: 0;
}
#mainContent {
  background-color: #fff;
  margin-top: 15px;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  max-width: 64rem;
  display: table;
}
#mainContentWrapper {
  vertical-align: middle;
  padding: 1rem;
  width: 2rem;
  display: table-cell;
}

footer {
  margin-right: auto;
  margin-left: auto;
  margin-top: 1rem;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  width: 100%;
  max-width: 64rem;
  display: table;
}

.clearAfter {
  content: '.';
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.pageTitle {
  margin-left: auto;
  margin-right: auto;
  width: 100px;
  font-size: 2em;
}
h2 {
  font-size: 1em;
}
